<section>
  <article *ngFor="let message of messages" >
    <header>
      <h2>{{message.sender}}</h2>
    </header>
      <p style="background-color:{{message.color}}">{{message.content}}</p>
    <footer>
      <p>{{message.receiver}}</p>      
      <button nbButton outline status="danger" size="tiny" (click)="delMessage(message.id)">Supprimer</button>
    </footer>
  </article>
  <nb-chat-form (send)='sendMessage($event)'>
  </nb-chat-form>
</section>









