<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>


  <nb-sidebar>    
    <app-navigation></app-navigation>
  </nb-sidebar> 
 
  <nb-layout-column>
    <app-inbox></app-inbox>
  </nb-layout-column>

  <nb-layout-column>
    <nb-card size="giant">
      <nb-list>
        <nb-list-item *ngFor="let user of users">
          <nb-user [name]="user.name" [title]="user.title">
          </nb-user>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>
