<nb-card accent="info">
    <nb-card-header>
        Nebula
    </nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer>
        Nebula
    </nb-card-footer>
  </nb-card>